[core]
    pager = delta
	editor = vim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true
    syntax-theme = gruvbox-dark
    minus-style = syntax "#450a15"
    plus-style = syntax "#0b4820"
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
        lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lola = lol --all
